<div>
    <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Введите дату начала" (dateChange)= "changeStart($event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 ></mat-datepicker>
    </mat-form-field> 
</div>
<div>
    <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Введите дату конца" (dateChange)="changeEnd($event)">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
</div>
  
<button mat-raised-button (click)="LoadRevenue()">Узнать</button>